.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.6rem;
    min-height: 3.8rem;
    font-size: 1.5rem;
    border-radius: 30rem;
    background-color: var(--clr-secondary);
    color: var(--clr-brown);
    font-weight: 700;
}