.background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-primary);
	height: 80vh;
}

.title {
	font-size: 64px;
	color: var(--clr-primary);
}

