.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    color: var(--clr-primary) !important;
    background-color: var(--clr-primary);
    border-radius: 7px;
    min-height: 5.6rem;
    padding: 0 3.2rem; 
    font-size: 16px;
    font-weight: bold;

    &.buttonSecondary {
        background-color: var(--clr-secondary);
        border: 1px solid var(--clr-secondary);
    }

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px rgba(46, 49, 75, 0.10), 3px 3px 9px 0px rgba(46, 49, 75, 0.10), 13px 11px 17px 0px rgba(46, 49, 75, 0.09), 30px 24px 23px 0px rgba(46, 49, 75, 0.05), 54px 43px 28px 0px rgba(46, 49, 75, 0.01), 84px 67px 30px 0px rgba(46, 49, 75, 0.00);
    }
}

.buttonOutline {
    color: var(--clr-white);
    background-color: var(--clr-brown);
    border: 1px solid var(--clr-primary);

    &.buttonSecondary {
        fill: var(--clr-noir);
        background-color: var(--clr-secondary);
        border: 1px solid var(--clr-secondary);
    }
}

.buttonIconOnly {
    width: 5.6rem;
    padding: 0 1.6rem;
}