.u-color--primary {
    color: var(--clr-primary);
}

.u-color--white {
    color: var(--clr-white);
}

.u-color--brown {
    color: var(--clr-brown);
}

.u-bgcolor--blanc {
    background-color: var(--clr-white);
}

.u-bgcolor--background {
    background-color: var(--clr-background);
}
