
.ProductCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem 3.2rem;
    padding-bottom: 5.4rem;
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
}

.ProductCard {
    max-width: 37rem;
    width: 100%;
    color: var(--clr-black);
    overflow: hidden;
    position: relative;
    box-shadow: rgb(77, 7, 40) 0px 4px 8px -2px, rgb(77, 7, 40) 0px 0px 0px 1px;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transition: transform 0.3s;

    &:hover {
        color: var(--clr-black);
        transform: scale(1.1);
    }
}

.ProductCardContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.2rem;
    padding: 2.4rem 1.6rem;
}

.ProductCardAllergene {
    min-height: 3.8rem;
}

.ProductCard img {
    width: 100% !important;
    border-radius: 25px;
    object-fit: cover;
}

.ProductCardActions {
    margin-top: auto;
    text-align: center;
}