
.ProductCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 3.2rem;
    padding-bottom: 2.4rem;
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
}

.ProductCard {
    max-width: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.ProductCardContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.2rem;
    padding: 2.4rem 1.6rem;
}

.ProductCard img {
    width: 100% !important;
    border-radius: 25px;
    object-fit: cover;
}

.ProductCardActions {
    margin-top: auto;
    text-align: center;
}