.l__legal-container {
    background-color: var(--clr-background);
    padding: 6rem 2rem;
    display: block;
    color: var(--clr-brown);
}
.l__legal-content {
    max-width: 750px;
    margin: auto;
}