.footer {
    padding: 5rem;
    background-color: var(--clr-primary);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    gap: 100px !important;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    font-size: 18px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.footerLinks img {
    width: 250px;
}

.footerLinks a, .footerBottom a {
    text-decoration: none;
    color: var(--clr-brown);
    font-size: 18px;
    margin-bottom: 2rem;
}

.mediaLink {
    display: flex;
    color: var(--clr-brown);
    margin-bottom: 2rem;
    font-size: 18px;
}

.mediaLink p{
    margin-left: 1rem;
    color: var(--clr-brown);
}