.footer {
    padding: 5rem;
    background-color: var(--clr-primary);
}

.footerContent {
    display: flex;
    justify-content: space-between;
    gap: 100px !important;
}

.footerBottom {
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.footerLinks img {
    width: 260px;
}

.footerLinks a, .footerBottom a {
    text-decoration: none;
    color: var(--clr-white);
    margin-bottom: 2rem;
}

.mediaLink {
    display: flex;
    color: var(--clr-white);
    margin-bottom: 2rem;
}

.mediaLink p{
    margin-left: 1rem;
}