// Elements
@import "scss/elements/_page";

//layout
@import "scss/layout/_home";
@import "scss/layout/_contact";
@import "scss/layout/_error";
@import "scss/layout/_product-list";
@import "scss/layout/_product-detail";

//Abstracts
@import "scss/abstracts/_font";

//Setting
@import "scss/settings/_breakpoint";
@import "scss/settings/_mixins";
@import "scss/settings/_normalize";
@import "scss/settings/_reset";
@import "scss/settings/_variables";

// Utilities
@import "scss/utilities/_color";
@import "scss/utilities/_flex";
@import "scss/utilities/_font";
@import "scss/utilities/_layout";
@import "scss/utilities/_shadow";
@import "scss/utilities/_spacing";
@import "scss/utilities/_text";


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-white);
    padding: 10px 80px;
  }
  
  .navbar-logo img {
    height: 50px;
    width: auto;
  }
  
  .navbar-links a {
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--clr-primary);
    font-family: var(--font-primary);
  }

  .navbar-links a:hover {
    color: var(--clr-primary);
  }

