
// Font : Koho
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

//Font : QuickSand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    // Fonts
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'KoHo', sans-serif;

    // Colors
    --clr-primary: #759F01;
    --clr-secondary: #FCDCC5;
    --clr-background: #FFF5EC;
    --clr-black: #000000;
    --clr-white: #ffffff;
}
